body{
    background-color:rgb(157, 184, 193)
}
h1{
    justify-content: center;
    align-self: center;
    margin: 2.0rem 30rem 0;
}

#display-current-data{
    background-color: white;
    display: block;
}

#input{
    margin-top: 1.5rem;
}

#searchData{
    
    display: block;
    
}

#search-btn{
    width: 15rem;
    margin-top: 1rem;
}

.previousCity{ 
    display:block;
    margin: 1.5rem 0;
    width: 15rem;
}

.container-forecaste{
    display: none;
}

.history{
    display: block;
    margin: 1.5rem 0;
    width: 15rem;
}